
    *, *:before, *:after {
    box-sizing: border-box;
  }

body{
    background-color: black;
}



h1 {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 800;
  font-size: 61.04px;
  color: white;
}

@media screen and (max-width: 991px){
  h1{
    font-size: 39.06px;
  }
}

@media screen and (max-width: 595px){
  h1 {
    font-size: 31.25px;
  }
}

h2 {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 800;
  font-size: 39.06px;
  color: white;
}

@media screen and (max-width: 991px){
  h2{
    font-size: 31.25px;
  }
}

@media screen and (max-width: 595px){
  h2 {
    font-size: 25px;
    line-height: 200%;
  }
}

p {

  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: white;
  padding-top: 60%;
  width: 100%;
  text-align: left;
  line-height: 200%;
  align-self: center;
}

@media screen and (max-width: 991px){
  p {
    padding-top: 150%;
    font-size: 20px;
  }
}

@media screen and (max-width: 595px){
  p {
    padding-top: 150%;
    font-size: 14px;
  }
}



h1.muck{
  padding-top: 20%;
}

@media screen and (max-width: 991px){
  h1.muck{
    margin-top: 5%;

  }
}

@media screen and (max-width: 595px){
  h1.muck{
    margin-top: 3%;
  }
}

h2.coming_soon{
  padding-top: 10%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

section.container{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin: 10% 0;
  min-height: 200px;
}

.hero{
  position: relative;
  width: 50%;
  height: 50%;

}

.title{
  position: absolute;
  left: 50%;
  top: 3%;
  transform: translate(-50%, -50%);
  background-color: black;
  width: 101%;
  height: 30%;
  opacity: 0.75;
}

@media screen and (max-width: 991px){
  .title{
    height: 80%;
  }
}

@media screen and (max-width: 595px){
  .title{
    height: 70%;
  }
}

.description{
  position: relative;
  width: 50%;

}


.teens{
  padding-top: 10%;
  position: relative;
  margin-bottom: -50%;
}

@media screen and (max-width: 991px){
  .teens{
    margin-bottom: -140%;
  }
}

.awards{
  position: relative;
  padding-top: 10%;
  width: 50%;
  height: 50%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

#monster{

}

@media screen and (max-width: 991px){
  #monster{
    margin-bottom: -80%;
  }
}


#trophy{
  grid-column: 0 / 1;
  grid-row: 0 / 1;
}

#besthorror{
  padding: 0;
  grid-column: 2 / 4;
  grid-row: 0 / 1;

}
